ul li{
    display: inline-block;
    border: 2px solid green;
    background-color: white;
    list-style-type: none;
    padding: 5px 5px 5px 5px;
    margin: 0;
    position: relative;
    text-align: left;
}

nav ul{
    margin: 0;
    text-decoration: none;
}

nav ul a{
    clear: right;
    text-decoration: none;
    margin: 0 10px;
    line-height: 30px;
}

nav a:hover, nav a:focus {
    background-color:  #99cc99;
}

nav a:active {
    background-color: cyan;
}

nav ul li ul {
    display: none;
    position: absolute;
    padding: 12px;
    z-index: 100;
}

nav ul li:hover ul {
    display: block;
    z-index: 100;
}

nav ul li ul li a {
    padding: 10px 10px;
    z-index: 100;
}

nav ul li ul li a:hover {
    background-color: #99cc99;
    padding: 10px;
    z-index: 100;
}


