ul li{
    display: inline-block;
    border: 2px solid green;
    background-color: white;
    width: 70px;
    list-style-type: none;
    padding: 10px 10px 10px 20px;
    margin-top: 0;
    margin-left: 0px;
    position: relative;
}

nav a:hover, nav a:focus {
    background-color:  #99cc99;
}

nav a:active {
    background-color: cyan;
}

nav ul li ul {
    display: none;
    position: absolute;
    padding: 10px;
}

nav ul li:hover ul {
    display: block;
}

nav ul li ul li a {
    padding: 12px 12px;
}

nav ul li ul li a:hover {
    background-color: #99cc99;
    padding: 5px;
}